.character {
	width: 150px;
	height: 150px;
	border-style: solid;
	float: left;
	margin: 2px;
}

.selected {
	color: green;
	background-color: black;
	width: 150px;
	height: 150px;
	border-style: solid;
	float: left;
	margin: 2px;
}

.enemies {
	color: red;
	background-color: black;
	width: 150px;
	height: 150px;
	border-style: solid;
	float: left;
	margin: 2px;

}

.defender {
	color: yellow;
	background-color: black;
	width: 150px;
	height: 150px;
	border-style: solid;
	float: left;
	margin: 2px;
}

#selected,
#enemy-section,
#defender-section {
	height: 200px;
}