.character,
.selected,
.enemies,
.defender {
	width: 150px;
	height: 90px;
	border-style: solid;
	float: left;
	margin: 2px;
}

.selected {
	color: green;
	background-color: black;
}

.enemies {
	color: red;
	background-color: black;
}

.defender {
	color: yellow;
	background-color: black;
}

h2 {
	font-size: 24px;
}

p {
	font-size: 14px;
}